{% if found_item.status.value == 'review' %}
    <table style="background-color: yellow;">>
{% else %}
    <table>
{% endif %}
    <tr valign="top">
        <td><a href="{{ url_for('main.found_item', id=found_item.id) }}">
            <img src="{{ url_for('main.image_thumbnails', id=found_item.id, size='small') }}" alt="Found Item Thumbnail">
        </a></td>
        <td>
            <h2>{{ found_item.title }}</h2><br>
            {{ found_item.description }}<br>
        </td>
    </tr>
</table>
