{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=80) }}
            {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(rows=5, cols=80) }}
            {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date_found.label }}<br>
            {{ form.date_found() }}
            {% for error in form.date_found.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.location_found.label }}<br>
            {{ form.location_found(size=80) }}
            {% for error in form.location_found.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.image_file.label }}<br>
            {{ form.image_file() }}
            {% for error in form.image_file.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
